name: ci

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v2
    - run: bundle install
    - run: pod install
    - name: Xcodebuild test
      run: xcodebuild clean test -workspace 'Go.xcworkspace' -scheme 'Go' -destination 'platform=iOS Simulator,name=iPhone 12'

